# MacOS
.DS_Store

# Default TypeSpec output
tsp-output/
dist/

# Dependency directories
node_modules/

# Ignore bin folders
**/bin/

# Ignore obj folders
**/obj/

# Ignore app settings files
appsettings.json.local
Translation.Backend/appsettings.json
Translation.Backend/appsettings.env
